@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

/* font-family: 'Inter', sans-serif;
font-family: 'Lexend Deca', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Inter", sans-serif;
}

body {
  background-color: #0a0c1c;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  background-color: #1b1937;
  box-shadow: 0px 20px 20px -10px rgba(23, 25, 41, 0.203087);
  border-radius: 8px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 780px;
  width: 327px;
}

section {
  padding: 40px 32px 32px 32px;
  display: flex;
  flex-direction: column;
  height: 540px;
  gap: 40px;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50%;
}

h2 {
  font-size: 28px;
  line-height: 32px;
  color: white;
}

h3 {
  color: white;
  font-size: 24px;
  line-height: 29px;
}

span {
  color: #ab5cdb;
}

p {
  color: white;
  font-size: 15px;
  line-height: 25px;
  opacity: 0.75;
}

.imgcontainer {
  background-image: url("../images/image-header-mobile.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 240px;
  width: 327px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.overlay {
  height: 240px;
  width: 327px;
  background-color: #ab5cdb;
  mix-blend-mode: multiply;
  opacity: 0.75;
}

.stats p {
  font-family: "Lexend Deca", sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 25px;
  letter-spacing: 1px;
  opacity: 0.6;
}

@media (min-width: 1440px) {
  main {
    width: 1110px;
    height: 446px;
    flex-direction: row-reverse;
    text-align: left;
    align-items: flex-start;
  }

  section {
    gap: 72px;
    height: auto;
    padding: 71px 110px 59px 71px;
  }

  article {
    height: auto;
  }

  h2 {
    font-size: 36px;
    line-height: 44px;
  }

  article:first-of-type {
    gap:25px;
  }

  .stats {
    flex-direction: row;
  }

  .imgcontainer {
    background-image: url("../images/image-header-desktop.jpg");
    width: 540px;
    height: 446px;
    border-radius: 0 8px 8px 0;
  }

  .overlay {
    width: 540px;
    height: 446px;
  }

  /* .imgcontainer {
    background-image: url("../images/image-header-mobile.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 240px;
    width: 327px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  .overlay {
    height: 240px;
    width: 327px;
    background-color: #ab5cdb;
    mix-blend-mode: multiply;
    opacity: 0.75;
  } */

  /* main {
    background-color: #1b1937;
    box-shadow: 0px 20px 20px -10px rgba(23, 25, 41, 0.203087);
    border-radius: 8px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 780px;
    width: 327px;
  }
  
  section {
    padding: 40px 32px 32px 32px;
    display: flex;
    flex-direction: column;
    height: 540px;
    gap: 40px;
  }
  
  article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50%;
  } */
}
